Add Support for RFC-9209: Proxy-Status Header

### Welcome!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/traefik/traefik/issues) and didn't find any.
- [X] Yes, I've searched similar issues on the [Traefik community forum](https://community.traefik.io) and didn't find any.

### What did you expect to see?

## Problem

When end-users have difficulty receiving content from our service, we don't always all the information we'd like to have to gracefully handle this situation in clients of Traefik or to provide our monitoring systems with enough information for alerting and debugging. 

### Context

our (very simplified) request flow goes something like:

```mermaid
graph LR
  client --> CDN
  CDN --> traefik
  
  subgraph CloudProvider
    traefik --> svc[Kubernetes Service]
    svc --> pods
  end
```

While this setup may appear complex, many SAAS companies use something like this as the very most basic blueprint for their architecture. Additionally, while the problems raised here at framed in the context of the above architecture, the proposed solution would like provide helpful information to Traefik users with simpler architectures as well.

### Example 1

During a code deployment, we've wound up with no pods running for a given service due to misconfiguration. Unfortunately, traefik reports a response status code of 404 in this case. 

### Example 2

Clients receive many 500s from the CDN layer, but our operations team is unable to determine the source of the problem. Is it the CDN? Traefik? Our pods in kubernetes? Because we cannot tie metadata together on specific 500 requests that we could observe from the client, it might take hours or days to determine the cause through a process of elimination.

## Proposed Solution

Implement support for [RFC 9209 Proxy-Status Header](https://www.rfc-editor.org/rfc/rfc9209.html). This RFC provides more in-depth error codes and free-form details in a manner that can be additive with other proxy layers both upstream and downstream. In order to provide this level of detailed information, either some form of plugin would need to be implemented or additional code added directly to Traefik itself.

## Insufficient Solutions

 * _Use different status code in traefik for different_ - Even with the very simplified, the number possible failures that traefik could encounter (DNS timeout, connection refused, headers too large, etc, etc) would significantly increase complexity for clients of traefik (the client and CDN above) to respond in intelligent ways. 
 * _capturing a metric from Traefik (or kubernetes)_ - a metric cannot be correlated with our CDN access logs does not inform us about which requests from our clients have failed. We would like to be able to see both from CDN and the client exactly what problem occurred in Traefik as a proxy in case that situation can be handled more gracefully (ex: retry, flip a circuit breaker, etc)
 * _add static headers to traefik responses_ - The conditions that give rise to the most helpful information require in-depth integration into the request lifecycle (see RFC-9209 sections 2.1.1 and 2.3) although perhaps some other useful information could be added (ex: received-status)

Hey @brycefisher!

Thanks for your suggestion.

We are interested in this issue but are unsure about the use case and the traction it will receive, so we are going to leave the status as `“kind/proposal”` to give the community time to let us know that they would like this.

On top of that the RFC is still a proposition, and we prefer working on RFC once they are validated.
If you can inform us once the RFC status evolves, we will reevaluate if necessary.

Thanks for the proposal @brycefisher. 
If someone from the community wants to help on this, we would love to provide support addind this feature :)