Traefik cannot process CONNECT http request method.

### Welcome!

- [X] Yes, I've searched similar issues on [GitHub](https://github.com/traefik/traefik/issues) and didn't find any.
- [X] Yes, I've searched similar issues on the [Traefik community forum](https://community.traefik.io) and didn't find any.

### What did you do?

I was trying to deploy an applications which need [`CONNECT`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/CONNECT) http request method to work, using Traefik as it's TLS layer and reverse proxy. 

The application expose h2c on port 8080, and I was using this IngressRoute:

```
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: h2c
  namespace: applications
spec:
  entryPoints:
  - websecure
  routes:
  - match: Host(`www.example.com`)
    kind: Rule
    services:
    - name: h2c
      kind: Service
      port: 8080
      scheme: h2c
  tls:
    secretName: com-example-www
``

### What did you see instead?

1. If I `PUT` or `GET` the server, I'll see that the traffic been redirect to the application I deployed and the application reported a bug since it require `CONNECT` to work.

Log from Traefik:
```
time="2023-02-11T13:11:50Z" level=debug msg="'502 Bad Gateway' caused by: read tcp 10.244.3.203:59980->10.244.3.36:8080: read: connection reset by peer"
[IPADDRESS] - - [11/Feb/2023:13:11:50 +0000] "GET / HTTP/2.0" 502 11 "-" "-" 18553 "applications-h2c-9a98d4be767ad3f49819@kubernetescrd" "h2c://10.244.3.36:8080" 5ms
```

Log from the application:
```
+0000 2023-02-11 13:11:50 ERROR [1313487149]: process connection from 10.244.3.203:59980: not CONNECT request
```

2. If I `CONNECT` the server, I'll see that the traffic been dropped to nowhere.

Log form Traefik:
```
[IPADDRESS] - - [11/Feb/2023:13:14:02 +0000] "CONNECT - HTTP/2.0" 404 19 "-" "-" 18580 "-" "-" 0ms
[IPADDRESS] - - [11/Feb/2023:13:14:02 +0000] "CONNECT - HTTP/2.0" 404 19 "-" "-" 18581 "-" "-" 0ms
```

no log from the application.

3. If I add ```Method(`CONNECT`)``` to the `match` section following suggestion from [here](https://community.traefik.io/t/proxmox-behind-traefik/9338/2) , `PUT` or `GET` will get 405 but `CONNECT` still got dropped.

Rule:
```
  - match: Host(`cell.anislet.dev`) && Method(`CONNECT`)
```

Log from Traefik:
```
[IPADDRESS] - - [11/Feb/2023:13:16:57 +0000] "GET / HTTP/2.0" 405 0 "-" "-" 18618 "-" "-" 0ms
[IPADDRESS] - - [11/Feb/2023:13:17:04 +0000] "CONNECT - HTTP/2.0" 404 19 "-" "-" 18619 "-" "-" 0ms
[IPADDRESS] - - [11/Feb/2023:13:17:04 +0000] "CONNECT - HTTP/2.0" 404 19 "-" "-" 18620 "-" "-" 0ms
```

### What version of Traefik are you using?

```
Version:      2.9.6
Codename:     banon
Go version:   go1.19.4
Built:        2022-12-07T14:17:58Z
OS/Arch:      linux/amd64
```

### What is your environment & configuration?

Traefik helm chart with default values on k3s v1.26.1+k3s1 using cilium and metallb.

### If applicable, please paste the log output in DEBUG level

See above.

For the maintainers - we're currently on `v2.7.0` of Traefik, and we're experiencing the same issue.

Hello @OrvilleQ @prashant-warrier-echelonvi,

Can you provide the full debug logs of the Traefik instance?
The 404 status code in the access log lines in both situations (with and without the `Method(`CONNECT`)` matcher) seems to indicate the request isn't matching any router.
The debug logs should show if anything went wrong during the application of the dynamic configuration.

As an alternative, it would also be great if you can share with us a short reproducible case (e.g.: a docker-compose) to help us to identify the issue.

@rtribotte Sorry for the late reply.

[connect.zip](https://github.com/traefik/traefik/files/11067883/connect.zip)

Inside this zip file is the yaml to deploy application that I use and how to connect to it.

Full debug log might have to wait till tonight if I have time, quiet busy these days.

Here is a full debug log. @rtribotte 

[debug.log](https://github.com/traefik/traefik/files/11098246/debug.log)

The log should me `GET` the server first and got 502 bad gateway, Then I `CONNECT` the server using the method I provided and the traffic got dropped to no where.

I masked some personal related data hope you don't mind.


Hello @OrvilleQ,

At glance, I maintain that the access logs indicate that the 404 response is produce by Traefik because no router matched the request.

I noticed that the router `applications-sing-box-test` has TLS enabled, which would only match a TLS request.
Since you are doing h2c, are you sure that the client is issuing a TLS request?
Can you share with us an example request/the client you are using?

@rtribotte Thanks for your reply. I'm pretty sure the client is issuing a TLS request since the client does not support plain http for security reason.

Also I've already provide the config file of the client and how to set it up in connect.zip

any updates on this?
I'm trying to run a Squid proxy behind Traefik.
since I'm new to the proxying world I just noticed that Squid uses the CONNECT method for HTTP requests.
and I can reproduce this issue as well

Hello, 

@OrvilleQ Sorry for the late answer.
I think @aofei made a very good point.

Traefik is forwarding CONNECT as is, and do not act as an HTTP proxy itself.

Making Traefik an HTTP Proxy would defeat the reverse proxy configuration and would let the client target any backend, which is not desirable and could be a vulnerability.

On the other hand, reverse proxying an HTTP proxy, by making Traefik able to act as the client initiating the tunnel with an HTTP proxy backend, is not possible with a layer 7 reverse proxy (HTTP routers).
In that case, the layer 4 reverse proxy is the solution, as suggested by @aofei.

We are wondering if it would be better to refuse CONNECT HTTP method and document it.


Hello,

We conclude this to be a bug and it would be better to refuse HTTP `CONNECT` method and document it.
Unfortunately, this would not make it to our roadmap for a while as we are focused elsewhere. If any community member would like to build it, let us know, and we will work with you to ensure you have all the information needed to merge it.

Don't forget to check out the [contributor docs](https://github.com/traefik/contributors-guide/blob/master/pr_guidelines) and link the PR to this issue.


I ran into this problem as well. I thought I would document my findings here in detail to assist anyone looking into the technical details.

I have a specific use case for this, putting Traefik in front of a Proxmox server for access to the WebUI. Doing this lets me rate limit requests and add my own security headers, and use the same wildcard certificate from Let's Encrypt that I use for all my other self-hosted sites. Well, Proxmox comes with a SPICE proxy for redirecting SPICE traffic through the same node serving the WebUI to whatever Proxmox node the SPICE agent is running on. In the virt-viewer connection file that is downloaded from the Proxmox WebUI, there is a line like this that tells virt-viewer to connect using a proxy:
```
proxy=http://pve.example.com:3128
```
That hostname, `pve.example.com`, is the same as the hostname in the `Host` header forwarded from Traefik or the browser if accessing directly.

While I could NAT the traffic to the Proxmox host, or configure a TCP router in Traefik as described above, I would rather have some of the additional rules and filters that are available for HTTP routers for additional security. In my efforts to test this and see if I could get it working, here is what I found. All tests were performed with Traefik 2.11.6.

**Scenario 1:**
Using HTTP router with rule: ``"HostRegexp(`{host:^pvespiceproxy:.+$}`)"``
Request from curl made to traffic emulating the request made from virt-viewer, but using the `GET` method, results in a 501 response code forwarded from Proxmox (`OriginStatus`). This is expected as Proxmox should only accept the HTTP `CONNECT` method. This is just to prove that the `HostRegexp` match is working and the origin server will respond.
Command used:
```
$ curl -v --resolve 'pvespiceproxy:3128:192.168.110.101' --header 'Host: pvespiceproxy:66a3d71e:101:pve-1::415911716c11887676e3bc9921f1d5dc59314f7b:61000' http://pvespiceproxy:3128
```
Access log:
```
{"ClientAddr":"192.168.16.5:18696","ClientHost":"192.168.16.5","ClientPort":"18696","ClientUsername":"-","DownstreamContentSize":0,"DownstreamStatus":501,"Duration":5153996,"OriginContentSize":0,"OriginDuration":5076785,"OriginStatus":501,"Overhead":77211,"RequestAddr":"pvespiceproxy:66a3d71e:101:pve-1::415911716c11887676e3bc9921f1d5dc59314f7b:61000","RequestContentSize":0,"RequestCount":5919,"RequestHost":"pvespiceproxy:66a3d71e:101:pve-1::415911716c11887676e3bc9921f1d5dc59314f7b:61000","RequestMethod":"GET","RequestPath":"/","RequestPort":"-","RequestProtocol":"HTTP/1.1","RequestScheme":"http","RetryAttempts":0,"RouterName":"spice-proxy@file","ServiceAddr":"192.168.10.11:3128","ServiceName":"spice-proxy@file","ServiceURL":{"Scheme":"http","Opaque":"","User":null,"Host":"192.168.10.11:3128","Path":"","RawPath":"","OmitHost":false,"ForceQuery":false,"RawQuery":"","Fragment":"","RawFragment":""},"StartLocal":"2024-07-26T18:51:42.699003671Z","StartUTC":"2024-07-26T18:51:42.699003671Z","entryPointName":"proxy","level":"info","msg":"","time":"2024-07-26T18:51:42Z"}
```

**Scenario 2:**
Using HTTP router with rule: ``"Method(`CONNECT`) && HostRegexp(`{host:^pvespiceproxy:.+$}`)"``
Request from virt-viewer results in a 200 response code forwarded from Proxmox, indicating the SPICE proxy is ready to proceed with the connection. Similar to HTTPS connections through a proxy, the next operation in the connection handling is the TLS handshake. This begins with a Client Hello sent from virt-viewer, and this should be forwarded from Traefik to Proxmox. However, I do not see this in packet captures between Traefik and Proxmox.

Here's what it looks like in the capture between the client PC and Traefik:
![image](https://github.com/user-attachments/assets/a2462f0c-5fc0-4671-bebe-0153fae5f4c4)

And here's what we see between Traefik and Proxmox:
![image](https://github.com/user-attachments/assets/2e682e9d-8c80-4137-916f-1975cc181142)

Traefik only ACKs the HTTP response from Proxmox in packet #&#x2060;7 and does not forward the Client Hello.

Access log:
```
{"ClientAddr":"192.168.16.5:36010","ClientHost":"192.168.16.5","ClientPort":"36010","ClientUsername":"-","DownstreamContentSize":0,"DownstreamStatus":200,"Duration":33642466631,"OriginContentSize":0,"OriginDuration":33642386760,"OriginStatus":200,"Overhead":79871,"RequestAddr":"pvespiceproxy:66a3f6b4:0:pve-1::0de58beeac4a01b0b3efb8c2632bd80fda8e65e4:61000","RequestContentSize":0,"RequestCount":7878,"RequestHost":"pvespiceproxy:66a3f6b4:0:pve-1::0de58beeac4a01b0b3efb8c2632bd80fda8e65e4:61000","RequestMethod":"CONNECT","RequestPath":"","RequestPort":"-","RequestProtocol":"HTTP/1.0","RequestScheme":"http","RetryAttempts":0,"RouterName":"spice-proxy@file","ServiceAddr":"192.168.10.11:3128","ServiceName":"spice-proxy@file","ServiceURL":{"Scheme":"http","Opaque":"","User":null,"Host":"192.168.10.11:3128","Path":"","RawPath":"","OmitHost":false,"ForceQuery":false,"RawQuery":"","Fragment":"","RawFragment":""},"StartLocal":"2024-07-26T19:19:23.342074014Z","StartUTC":"2024-07-26T19:19:23.342074014Z","entryPointName":"proxy","level":"info","msg":"","time":"2024-07-26T19:19:56Z"}
```

My conclusions on this are that Traefik does not properly handle the communication on the wire following the successful HTTP response. Per [RFC 9110 section 9.3.6](https://datatracker.ietf.org/doc/html/rfc9110#section-9.3.6):
> The CONNECT method requests that the recipient establish a tunnel to the destination origin server identified by the request target and, if successful, thereafter **restrict its behavior to blind forwarding of data, in both directions, until the tunnel is closed**.

At the very least for this use case to work successfully, Traefik needs to interpret the successful response from the origin server and switch over to forwarding each data packet unconditionally between client and server. As an optional feature addition, Traefik could also handle TLS decryption on these connections in order to perform modifications on the HTTP requests/responses passing through the tunnel, however those are more in the territory of a forward proxy's responsibilities and I am personally not in need of such a thing. For my use case, I would just like the ability to configure an HTTP router to match based on `Host` header and forward HTTP `CONNECT` requests to an upstream proxy.

I'm experiencing the same issue with Traefik v3.