Max Fragment Length

<!-- PLEASE FOLLOW THE ISSUE TEMPLATE TO HELP TRIAGE AND SUPPORT! -->

### Do you want to request a *feature* or report a *bug*?
<!--
DO NOT FILE ISSUES FOR GENERAL SUPPORT QUESTIONS.

The issue tracker is for reporting bugs and feature requests only.
For end-user related support questions, please refer to one of the following:

- the Traefik community forum: https://community.containo.us/

-->

Feature

### What did you expect to see?
I'd love to see Maximum Fragment Length support.  I thought it came out of the box with TLS 1.2, but maybe not.

Long story short the ESP8266 is a super cool wifi enabled IoT device and I'm sending traffic through traefik to my API server.

The library I use to make https requests [mentions how much memory this server side "max fragment length" tech would save](https://github.com/maakbaas/esp8266-iot-framework/blob/master/docs/fetch.md#memory-usage)

### More info

You can see a list of ssl technologies that support Max Fragment Length on [wikipedia](https://en.wikipedia.org/wiki/Comparison_of_TLS_implementations#Extensions).

### I could help

I'm a go developer so I'd be happy to help make this happen with the right direction.
<!--

HOW TO WRITE A GOOD ISSUE?

- Respect the issue template as much as possible.
- The title should be short and descriptive.
- Explain the conditions which led you to report this issue: the context.
- The context should lead to something, an idea or a problem that you’re facing.
- Remain clear and concise.
- Format your messages to help the reader focus on what matters and understand the structure of your message, use Markdown syntax https://help.github.com/articles/github-flavored-markdown

-->


Hello @vertoforce and thanks for your interest in Traefik :wave: 

Indeed, supporting this extension would be great, especially for IOT applications! 

But Traefik relies on Golang's `crypto/tls` package and unfortunately the TLS Extension "Maximum Fragment Length Negotiation" ([RFC 6066 section 4](https://tools.ietf.org/html/rfc6066#section-4)) is currently not supported: https://github.com/golang/go/issues/20420.

 Support for this extension is not something we can easily bring into Traefik unless it gets implemented into `crypto/tls`. 

Thanks for the quick response!  Bummer as it looks like it's removed from their roadmap.