ACME DNS Challenge with Let's Encrypt not working with Traefik 3.5.3

### Welcome!

- [x] Yes, I've searched similar issues on [GitHub](https://github.com/traefik/traefik/issues) and didn't find any.
- [x] Yes, I've searched similar issues on the [Traefik community forum](https://community.traefik.io) and didn't find any.

### What did you do?

Attempting to create new Routed domain using simple dynamic file configuration with Traefik 3.5.3.  DNS challenge not working.

### What did you see instead?

Error Presented in log files:
ERR github.com/traefik/traefik/v3/pkg/provider/acme/provider.go:566 > Unable to obtain ACME certificate for domains error="unable to generate a certificate for the domains [apc.domain.com apc.domain.com]: order identifiers have been by the ACME server (RFC8555 §7.1.3): [{Type:dns Value:apc.domain.com} {Type:dns Value:apc.domain.com}] != [{Type:dns Value:apc.domain.com}]" ACME CA=https://acme-v02.api.letsencrypt.org/directory acmeCA=https://acme-v02.api.letsencrypt.org/directory domains=["apc.domain.com","apc.domain.com"] providerName=letsencrypt.acme routerName=apc@file rule=Host(`apc.domain.com`)

### What version of Traefik are you using?

3.5.3 - LXC container

### What is your environment & configuration?

Static configuration for Let'sEncrypt within /etc/traefik/traefik.yml
```
certificatesResolvers:
  letsencrypt:
    acme:
      email: "email@gmail.com"
      caServer: https://acme-v02.api.letsencrypt.org/directory
      storage: /etc/traefik/ssl/acme.json
      keyType: 'EC384'
      preferredChain: 'ISRG Root X1'
      dnsChallenge:
        provider: cloudflare
        delayBeforeCheck: 0
        resolvers:
          - "1.1.1.1:53"
          - "9.9.9.9:53"
```

Dynamic Configuration (Very very simple)
```
---
# Dynamic Configuration for apc.gohilton.com

http:
  routers:
    apc:
      rule: Host(`apc.domain.com`)
      entryPoints:
        - web
        - websecure
      tls:
        options: modern
        certResolver: letsencrypt
        domains:
          - main: "apc.domain.com"
            sans:
              - "apc.domain.com"
      service: sv_proxy_pass_apc

  services:
    sv_proxy_pass_apc:
      loadBalancer:
        servers:
          - url: http://apc-backend.domain.com
        passHostHeader: true
```

### If applicable, please paste the log output in DEBUG level

Log Output with DEBUG:

2025-09-27T03:03:23-05:00 DBG github.com/traefik/traefik/v3/pkg/provider/acme/provider.go:330 > Using DNS Challenge provider: cloudflare providerName=letsencrypt.acme
2025-09-27T03:03:23-05:00 DBG github.com/go-acme/lego/v4@v4.25.2/log/logger.go:48 > [INFO] [apc.domain.com, apc.domain.com] acme: Obtaining bundled SAN certificate lib=lego
2025-09-27T03:03:23-05:00 ERR github.com/traefik/traefik/v3/pkg/provider/acme/provider.go:566 > Unable to obtain ACME certificate for domains error="unable to generate a certificate for the domains [apc.domain.com apc.domain.com]: order identifiers have been by the ACME server (RFC8555 §7.1.3): [{Type:dns Value:apc.domain.com} {Type:dns Value:apc.domain.com}] != [{Type:dns Value:apc.domain.com}]" ACME CA=https://acme-v02.api.letsencrypt.org/directory acmeCA=https://acme-v02.api.letsencrypt.org/directory domains=["apc.domain.com","apc.domain.com"] providerName=letsencrypt.acme routerName=apc@file rule=Host(`apc.domain.com`)




The error is "expected" because the order identifiers have been modified by the server.

> order identifiers have been by the ACME server (RFC8555 §7.1.3): [{Type:dns Value:apc.domain.com} {Type:dns Value:apc.domain.com}] != [{Type:dns Value:apc.domain.com}]

- Client: `[{Type:dns Value:apc.domain.com} {Type:dns Value:apc.domain.com}]`
- Server: `[{Type:dns Value:apc.domain.com}]`

The RFC says:

> The elements of the "authorizations" and "identifiers" arrays are
> immutable once set.  The server MUST NOT change the contents of
> either array after they are created.  If a client observes a change
> in the contents of either array, then it SHOULD consider the order
> invalid.
> https://www.rfc-editor.org/rfc/rfc8555#section-7.1.3

Technically, this is an LE problem, but you can "fix" it by removing the domain duplication.



The validation of the RFC must be done by the ACME client: lego does it, but not acme.sh.

I recommend using the option to disable CN support `disableCommonName` when Traefik releases the next minor version.


After a discussion with the LE team, the validation inside lego is too strong: when the LE ACME server receives duplicate orders, the server deduplicates them, and so the list of identifiers is modified (before the creation).

I will update lego accordingly.


FYI, you don't need to duplicate the CN inside the SAN, lego is doing it for you.

I just pulled ```image: 3.5.4``` image from Docker Hub (also tried ```image: traefik:3.5``` and am getting the following error:

```error=command traefik error: field not found, node: disableCommonName ```

I thought that 3.5.4 was supposed to include Lego 4.27 addresses this.

Am I missing something here?